<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">VSM</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li>
					<a th:href="@{/}">
						<i class="glyphicon glyphicon-home"></i>
						Home
					</a>
				</li>
				<li>
					<a th:href="@{/clientes}">
						<i class="glyphicon glyphicon-user"></i>
						Clientes
					</a>
				</li>
				<li><a th:href="@{/enderecos}">Connection BB</a></li>
			</ul>
		</div>
	</div>
</nav>
</html>